{% extends 'main.html' %}

{% load static %}

{% block content %}
<h1 class="fortune-title">КЪСМЕТЧЕ</h1>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
<script>

    window.onbeforeunload = function() {
        return "test";
    }

    let img;
    let stamp;
    let topLayer;

    let canvasWidth = document.querySelector('body').offsetWidth

    function setup() {
        createCanvas(canvasWidth / 2, 300);
        textAlign(CENTER);
        textFont('Helvetica')
        textSize(18);
        textWrap(WORD);
        topLayer = createGraphics(width, height);
        topLayer.background(200);
        topLayer.textSize(18);
        topLayer.textAlign(CENTER);
        topLayer.textFont('Helvetica')
        topLayer.text("Изтъркай ме", width / 16, height / 2, (canvasWidth  - 2 * (canvasWidth / 16)) / 2, 150);
        topLayer.imageMode(CENTER);
        topLayer.strokeWeight(40);
        topLayer.blendMode(REMOVE);
    }

    function draw() {
        background(255);
        text('{{item.description}}', width / 16, height / 2, (canvasWidth  - 2 * (canvasWidth / 16)) / 2, 150);

        if (mouseIsPressed) {
            topLayer.line(pmouseX, pmouseY, mouseX, mouseY);
        }

        image(topLayer, 0, 0);
    }
</script>
{% endblock content %}