{% extends 'main.html' %}

{% load static %}

{% block content %}
<style>
    body {
        overscroll-behavior: contain;
    }

    canvas {
        border-radius: 10px;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
</style>
<!-- <h1 class="fortune-title">КЪСМЕТЧЕ</h1> -->
<div class="old-fortunes">
    <ul>
        {% for item in old_items_list %}
        <li>{{item.description}}</li>
        {% endfor %}
    </ul>
</div>
<div style="min-height: 750px; width: 0px;">

</div>
<script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
<script>

    // window.onbeforeunload = function () {
    //     return "test";
    // }

    let img;
    let stamp;
    let topLayer;

    let canvasWidth = document.querySelector('body').offsetWidth

    let size = window.innerWidth

    // window.addEventListener('load', function () {
    //     size = window.innerWidth
    //     if (size <= 600) {
    //         size = 10
    //     } else if (size <= 1500) {
    //         size = 16
    //     } else {
    //         size = 20
    //     }
    // })

    window.addEventListener("load", (event) => {
        const main = document.querySelector('main')
        const body = document.querySelector('body')
        document.querySelector('canvas').classList.add('fortune-canvas')
        main.addEventListener('touchstart', onScratch)
        main.addEventListener('touchend', function () {
            body.style.overflow = 'unset'
            body.style.height = 'unset'
        })
    })

    function onScratch() {
        const body = document.querySelector('body')
        body.style.overflow = 'hidden'
        body.style.height = '100%'
    }

    function setup() {
        createCanvas(canvasWidth / 2, 300);
        textAlign(CENTER, CENTER);
        textFont('Helvetica')
        if (size <= 600) {
            size = 10
        } else if (size <= 1500) {
            size = 16
        } else {
            size = 20
        }
        textSize(size);
        textWrap(WORD);
        textStyle(ITALIC);
        topLayer = createGraphics(width, height);
        topLayer.background('#C38370');
        topLayer.textSize(size);
        topLayer.textAlign(CENTER, CENTER);
        topLayer.textFont('Helvetica')
        topLayer.textStyle(ITALIC);
        topLayer.fill(255);
        topLayer.text("Изтъркай ме", width / 16, height / 4, (canvasWidth - 2 * (canvasWidth / 16)) / 2, 150);
        topLayer.imageMode(CENTER);
        topLayer.strokeWeight(40);
        topLayer.blendMode(REMOVE);
    }

    function draw() {
        background('#E4B7A0');
        fill(255);
        text('{{item.description}}', width / 16, height / 4, (canvasWidth - 2 * (canvasWidth / 16)) / 2, 150);

        if (mouseIsPressed) {
            topLayer.line(pmouseX, pmouseY, mouseX, mouseY);
        }

        image(topLayer, 0, 0);
    }

</script>

{% endblock content %}