{% extends 'main.html' %}

{% load static %}

{% block content %}

<head>
    <title>HTML5 Canvas Winning Wheel</title>
    <link rel="stylesheet" href="{% static 'css/wheel.css' %}" type="text/css" />
    <script type="text/javascript" src="{% static 'js/Winwheel.js' %}"></script>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js"
        integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<video width="150" height="150">
    <source src="../../../static/images/cat.mp4">
</video>

<div align="center" class="whole-wheel-wrapper">
    <table cellpadding="0" cellspacing="0" border="0">
        <tr id="wheel-elements-wrapper">
            <td>
                <div class="power_controls">
                    <img id="spin_button" src="{% static 'images/spin_off.png' %}" alt="Spin" onClick="startSpin();" />
                </div>
            </td>
            <td width="438" height="582" class="the_wheel" align="center" valign="center">
                <canvas id="canvas" width="434" height="434">
                    <p style="color: white;" align="center">Sorry, your browser doesn't support canvas. Please try
                        another.</p>
                </canvas>
            </td>
        </tr>
    </table>
</div>
<script>
    // Create new wheel object specifying the parameters at creation time.
    let theWheel = new Winwheel({
        'outerRadius': 212,        // Set outer radius so wheel fits inside the background.
        'innerRadius': 75,         // Make wheel hollow so segments dont go all way to center.
        'textFontSize': 24,         // Set default font size for the segments.
        'textOrientation': 'vertical', // Make text vertial so goes down from the outside of wheel.
        'textAlignment': 'outer',    // Align text to outside of wheel.
        'numSegments': 24,         // Specify number of segments.
        'segments':             // Define segments including colour and text.
            [                               // font size and text colour overridden on backrupt segments.
                { 'fillStyle': '#ee1c24', 'text': '300' },
                { 'fillStyle': '#3cb878', 'text': '450' },
                { 'fillStyle': '#f6989d', 'text': '600' },
                { 'fillStyle': '#00aef0', 'text': '750' },
                { 'fillStyle': '#f26522', 'text': '500' },
                { 'fillStyle': '#000000', 'text': 'БАНКРУТ', 'textFontSize': 16, 'textFillStyle': '#ffffff' },
                { 'fillStyle': '#e70697', 'text': '3000' },
                { 'fillStyle': '#fff200', 'text': '600' },
                { 'fillStyle': '#f6989d', 'text': '700' },
                { 'fillStyle': '#ee1c24', 'text': '350' },
                { 'fillStyle': '#3cb878', 'text': '500' },
                { 'fillStyle': '#f26522', 'text': '800' },
                { 'fillStyle': '#a186be', 'text': '300' },
                { 'fillStyle': '#fff200', 'text': '400' },
                { 'fillStyle': '#00aef0', 'text': '650' },
                { 'fillStyle': '#ffffff', 'text': 'ОПИТАЙ ПАК', 'textFontSize': 12 },
                { 'fillStyle': '#f6989d', 'text': '500' },
                { 'fillStyle': '#f26522', 'text': '400' },
                { 'fillStyle': '#3cb878', 'text': '900' },
                { 'fillStyle': '#000000', 'text': 'БАНКРУТ', 'textFontSize': 16, 'textFillStyle': '#ffffff' },
                { 'fillStyle': '#a186be', 'text': '600' },
                { 'fillStyle': '#fff200', 'text': '700' },
                { 'fillStyle': '#00aef0', 'text': '800' },
                { 'fillStyle': '#ffffff', 'text': 'ОПИТАЙ ПАК', 'textFontSize': 12 }
            ],
        'animation':           // Specify the animation to use.
        {
            'type': 'spinToStop',
            'duration': 20,
            'spins': 3,
            'callbackFinished': alertPrize,  // Function to call whent the spinning has stopped.
            'callbackSound': playSound,   // Called when the tick sound is to be played.
            'soundTrigger': 'pin'        // Specify pins are to trigger the sound.
        },
        'pins':                // Turn pins on.
        {
            'number': 1,
            'fillStyle': 'silver',
            'outerRadius': 4,
        }
    });

    let audio = new Audio("{% static 'images/1.mp3' %}");

    // This function is called when the sound is to be played.
    function playSound() {
        // Stop and rewind the sound if it already happens to be playing.
        audio.pause();
        audio.currentTime = 0;

        // Play the sound.
        audio.play();
    }

    // Vars used by the code in this page to do power controls.
    let wheelPower = 0;
    let wheelSpinning = false;

    // -------------------------------------------------------
    // Function to handle the onClick on the power buttons.
    // -------------------------------------------------------
    function powerSelected(powerLevel) {
        // Ensure that power can't be changed while wheel is spinning.
        if (wheelSpinning == false) {

            // Reset all to grey incase this is not the first time the user has selected the power.
            document.getElementById('pw1').className = "";
            document.getElementById('pw2').className = "";
            document.getElementById('pw3').className = "";

            // Now light up all cells below-and-including the one selected by changing the class.
            if (powerLevel >= 1) {
                document.getElementById('pw1').className = "pw1";
            }

            if (powerLevel >= 2) {
                document.getElementById('pw2').className = "pw2";
            }

            if (powerLevel >= 3) {
                document.getElementById('pw3').className = "pw3";
            }

            // Set wheelPower var used when spin button is clicked.
            wheelPower = powerLevel;

            // Light up the spin button by changing it's source image and adding a clickable class to it.
            document.getElementById('spin_button').src = "{% static 'images/spin_on.png' %}";
            document.getElementById('spin_button').className = "clickable";
        }
    }

    // -------------------------------------------------------
    // Click handler for spin button.
    // -------------------------------------------------------
    function startSpin() {
        // Ensure that spinning can't be clicked again while already running.
        if (wheelSpinning == false) {

            const video = document.querySelector('video')
            video.style.display = 'block'
            document.getElementById('spin_button').src = "{% static 'images/spin_on.png' %}";
            video.play()

            setTimeout(function () {
                video.style.display = 'none'

                theWheel.animation.spins = 15

                // Disable the spin button so can't click again while wheel is spinning.

                // document.getElementById('spin_button').src = "{% static 'images/spin_off.png' %}";
                // document.getElementById('spin_button').className = "";

                // Begin the spin animation by calling startAnimation on the wheel object.
                theWheel.startAnimation();

                // Set to true so that power can't be changed and spin button re-enabled during
                // the current animation. The user will have to reset before spinning again.
                wheelSpinning = true;

                // document.getElementById('spin_button').src = "{% static 'images/spin_on.png' %}";
            }, 1500)
            // Based on the power level selected adjust the number of spins for the wheel, the more times is has
            // to rotate with the duration of the animation the quicker the wheel spins.
        }
    }

    // -------------------------------------------------------
    // Function for reset button.
    // -------------------------------------------------------
    function resetWheel() {
        theWheel.stopAnimation(false);  // Stop the animation, false as param so does not call callback function.
        theWheel.rotationAngle = 0;     // Re-set the wheel angle to 0 degrees.
        theWheel.draw();                // Call draw to render changes to the wheel.

        document.getElementById('pw1').className = "";  // Remove all colours from the power level indicators.
        document.getElementById('pw2').className = "";
        document.getElementById('pw3').className = "";

        wheelSpinning = false;          // Reset to false to power buttons and spin can be clicked again.
    }

    // -------------------------------------------------------
    // Called when the spin animation has finished by the callback feature of the wheel because I specified callback in the parameters
    // note the indicated segment is passed in as a parmeter as 99% of the time you will want to know this to inform the user of their prize.
    // -------------------------------------------------------
    function alertPrize(indicatedSegment) {
        const csrftoken = getToken('csrftoken')

        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie != '') {
                let cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    let cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        // Do basic alert of the segment text. You would probably want to do something more interesting with this information.
        async function update_credits() {
            url = '/update_customer_credits/'
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body: JSON.stringify({ 'amount': indicatedSegment.text })
            })
            const data = await response.json()
            const credits = data['credits']
            document.querySelector('span').textContent = credits
        }
        update_credits()

        alert("You have won " + indicatedSegment.text);
        
    }

</script>

{% endblock content %}